<h2>Liste client</h2>

<div class="container">
    <div class="row">
      <div class="col-lg-7">
        <table class="table table-hover">
          <thead><th>Nom</th><th>Prenom</th><th>Telephone</th>
          <th><button class="btn btn-outline-primary" (click)="operation = 'add'; this.initClient();">ADD</button></th></thead>
          <tbody><tr *ngFor="let client of clients"><td>{{client.nom}}</td>
            <td>{{client.prenom}}</td><td>{{client.telephone}}</td>
            <td><button class="btn btn-outline-warning" (click)="operation = 'edit'; selectedClient = client;">Edit</button></td>
            <td><button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedClient = client;">Remove</button></td></tr></tbody>
        </table>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header bg-info text-white">
            {{ operation == 'add' ? 'Ajouter client' : operation == 'edit' ? 'Modifier client': operation == 'remove' ? 'Supprimer client' : '' }}</div>
          <div class="card-body">
            <div  *ngIf="operation== 'add' || operation == 'edit'">
                <form [formGroup]="clientForm">
                    <div class="form-group">
                      <label>Nom: </label>
                      <input type="text" formControlName="nom" class="form-control"  [(ngModel)]="selectedClient.nom">
                    </div>
                    <div class="alert alert-danger" *ngIf="clientForm.controls['nom'].invalid &&
                    (clientForm.controls['nom'].touched || clientForm.controls['nom'].dirty) ">
                      Le nom est obligatoire
                    </div>
                    <div class="form-group">
                        <label>Prenom: </label>
                        <input type="text" [(ngModel)]="selectedClient.prenom" formControlName="prenom" class="form-control">
                      </div>
                      <div class="alert alert-danger" *ngIf="clientForm.controls['prenom'].invalid &&
                    (clientForm.controls['prenom'].touched || clientForm.controls['prenom'].dirty) ">
                      Le prenom est obligatoire
                    </div>
                      <div class="form-group">
                          <label>Telephone: </label>
                          <input type="text" formControlName="telephone" class="form-control"  [(ngModel)]="selectedClient.telephone">
                        </div>
                        <div class="alert alert-danger" *ngIf="clientForm.controls['telephone'].invalid &&
                    (clientForm.controls['telephone'].touched || clientForm.controls['telephone'].dirty) ">
                      Le numero telephone est obligatoire
                    </div>
                        <div>
                           <button class="btn btn-success btn" [disabled]="clientForm.pristine || clientForm.invalid"
                           (click)="operation == 'add' ? ajouterClient() : operation == 'edit' ? updateClient(): '';"> {{ operation == 'add' ? 'Ajouter' : operation == 'edit' ? 'Modifier': operation == 'remove' ? 'Supprimer' : '' }}</button>
                        </div>
                  </form>
            </div>
            <div  *ngIf="operation== 'remove'">
               <p class="card-title">
                 Identite du client : {{selectedClient.prenom}} {{selectedClient.nom}}
               </p>
               <p>
                 Voulez-vous supprimer ce client ?
               </p>
               <button  class="btn btn-success btn" [disabled]="!selectedClient.id" (click)="deleteClient()"> Confirmer </button>
              </div>
          </div>
          <div class="card-footer">footer</div>
        </div>
    </div>
</div>
