<nav class="hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link"
               routerLink="/dashboard"

              routerLinkActive="active">Dashboard</a>
          </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/zone"

          routerLinkActive="active">Zones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compte"

          routerLinkActive="active">Comptes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client"

        routerLinkActive="active">Clients</a>
      </li>
    </ul>
  </nav>
