<nav class="hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="[{outlets: { contentOutlet: 'zone'}}]"

          routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'compte'}}]"

          routerLinkActive="active">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'client'}}]"

        routerLinkActive="active">Utilisateurs</a>
      </li>
    </ul>
  </nav>
